{{> header}}
<!-- Quizzium Lobby -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages': ['corechart']});

    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByCountry", "by_country"));
    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByAge", "by_age"));
    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByGender", "by_gender"));


    async function getStatistics(url, idTag, filters) {

        var dateFrom = filters && filters.dateFrom;
        var dateTo = filters && filters.dateTo;

        await $.ajax({
            url: "/admin" + url,
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {dateFrom, dateTo},
            success: function (dataFromPHP) {

                document.getElementById(idTag).textContent = dataFromPHP;

            },
            error: function (xhr, status, error) {
                console.log("Error en obtener los datos por AJAX: " + error);
            }
        });
    }

    async function getPercentageOfEffectivenessPerUser(url, ulId, filters) {

        var dateFrom = filters && filters.dateFrom;
        var dateTo = filters && filters.dateTo;



        await $.ajax({
            url: "/admin" + url,
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {dateFrom, dateTo},
            success: function (dataFromPHP) {

                var ul = document.getElementById(ulId);
                ul.style.listStyle = "none";
                ul.textContent = "";

                dataFromPHP.forEach(dato => {

                    var li = document.createElement('li');

                    var id_cuenta = dato.id_cuenta;
                    var usuario = dato.usuario;
                    var dificultad = dato.dificultad;

                    li.textContent = `id_cuenta: ${id_cuenta} - Usuario: ${usuario} - dificultad: ${dificultad}`;
                    li.style.textDecoration = "none";
                    ul.appendChild(li);

                });

            },
            error: function (xhr, status, error) {
                console.log("Error en obtener los datos por AJAX: " + error);
            }
        });

    }


    async function getNewUsers(url, ulId, filters) {

        var dateFrom = filters && filters.dateFrom;
        var dateTo = filters && filters.dateTo;

        await $.ajax({
            url: "/admin" + url,
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {dateFrom, dateTo},
            success: function (dataFromPHP) {

                const ul = document.getElementById(ulId);
                ul.style.listStyle = "none";
                ul.textContent = "";

                dataFromPHP.forEach(dato => {

                    const li = document.createElement('li');

                    const id_cuenta = dato.id_cuenta;
                    const usuario = dato.usuario;
                    var fecha_creacion = dato.fecha_creacion;

                    let fecha = new Date(fecha_creacion);

                    let anio = fecha.getFullYear();
                    let mes = fecha.getMonth() + 1;
                    let dia = fecha.getDate();

                   fecha_creacion = anio + "-" + mes + "-" + dia;

                    li.textContent = `id_cuenta: ${id_cuenta} - Usuario: ${usuario} - fecha de creacion: ${fecha_creacion}`;
                    li.style.textDecoration = "none";
                    ul.appendChild(li);

                });

            },
            error: function (xhr, status, error) {
                console.log("Error en obtener los datos por AJAX: " + error);
            }
        });

    }


    async function createPieChart(url, div, filters) {

        var data = new google.visualization.DataTable();

        var rows = [];
        var columns = [];
        var title = "";

        var dateFrom = filters && filters.dateFrom;
        var dateTo = filters && filters.dateTo;

        await $.ajax({
            url: "/admin" + url,
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {dateFrom, dateTo},
            success: function (dataFromPHP) {
                rows = dataFromPHP.datos;
                columns = dataFromPHP.columnas;
                title = dataFromPHP.title;
            },
            error: function (xhr, status, error) {
                console.log("Error en obtener los datos por AJAX: " + error);
            }
        });

        var options = {
            'title': title,
            'width': 400,
            'height': 300,
            animation: {
                duration: 1000,
                easing: 'out',
            },
        };

        createColumns(columns, data);
        createRows(rows, data);

        var chart = new google.visualization.PieChart(document.getElementById(div));
        chart.draw(data, options);
    }

    function createColumns(columns, data) {
        for (var i = 0; i < columns.length; i++) {
            var tipo = columns[i][0];
            var nombre = columns[i][1];

            data.addColumn(tipo, nombre);
        }
    }

    function createRows(rows, data) {
        data.addRows(rows);
    }

    window.addEventListener('DOMContentLoaded', function () {
        var searchButton = document.querySelector('#search')


        searchButton.addEventListener('click', function () {
            var inputDateFrom = document.querySelector('#dateFrom');
            var inputDateTo = document.querySelector('#dateTo');
            var filters = {
                "dateFrom": inputDateFrom.value,
                "dateTo": inputDateTo.value
            }
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByCountry", "by_country", filters));
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByAge", "by_age", filters));
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByGender", "by_gender", filters));

            getStatistics("/getTotalPlayers", "total_players", filters);

            getStatistics("/getNumberOfGames", "total_games", filters);

            getStatistics("/getNumberOfActiveQuestions", "total_questions_active", filters);

            getStatistics("/getNumberOfViwedSuggestions", "total_viwed_suggestions", filters);

            getStatistics("/getNumberOfTotalSuggestions", "total_suggestions", filters);

            getPercentageOfEffectivenessPerUser("/getPercentageOfEffectivenessPerUser", "percentage_effective_for_player", filters);

            getNewUsers("/getNewUsers", "total_new_users", filters);

        }, {passive: true});
    }, {passive: true});

</script>

<div class="container">

    <input type="date" id="dateFrom">
    <input type="date" id="dateTo">

    <button id="search">Buscar</button>

    <div id="by_country"></div>
    <div id="by_age"></div>
    <div id="by_gender"></div>

    <div>
        <h3 style="font-weight: normal">total de jugadores: <span id="total_players"> - .</span></h3>
    </div>

    <div>
        <h3 style="font-weight: normal">Cantidad de partidas jugadas: <span id="total_games"> - .</span></h3>
    </div>

    <div>
        <h3 style="font-weight: normal">Cantidad de preguntas activas: <span id="total_questions_active"> - .</span>
        </h3>
    </div>

    <div>
        <h3 style="font-weight: normal">Cantidad total de sugerencias realizadas: <span
                id="total_suggestions"> - .</span></h3>
    </div>

    <div>
        <h3 style="font-weight: normal">Cantidad de sugerencias vistas por el editor: <span
                id="total_viwed_suggestions"> - .</span></h3>
    </div>

    <div>
        <h3 style="font-weight: normal">Efectividad por usuario:</h3>

        <ul id="percentage_effective_for_player">

        </ul>
    </div>

    <div>
        <h3 style="font-weight: normal">Cantidad de usuarios nuevos (3 días antes a hoy):</h3>

        <ul id="total_new_users">

        </ul>
    </div>

</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>

<!-- End Page Content -->
</div>
{{> footer}}