{{> header}}
<!-- Quizzium Lobby -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByCountry", "by_country"));
    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByAge", "by_age"));
    google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByGender", "by_gender"));


    async function createPieChart(url, div, filters) {

        var data = new google.visualization.DataTable();

        var rows = [];
        var columns = [];
        var title = "";

        var dateFrom = filters && filters.dateFrom;
        var dateTo = filters && filters.dateTo;

        await $.ajax({
            url: "/admin" + url,
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {dateFrom, dateTo},
            success: function (dataFromPHP) {
                rows =  dataFromPHP.datos;
                columns = dataFromPHP.columnas;
                title = dataFromPHP.title;
            },
            error: function (xhr, status, error) {
                console.log("Error en obtener los datos por AJAX: " + error);
            }
        });

        var options = {
            'title': title,
            'width': 400,
            'height': 300,
            animation:{
                duration: 1000,
                easing: 'out',
            },
        };

        createColumns(columns, data);
        createRows(rows, data);

        var chart = new google.visualization.PieChart(document.getElementById(div));
        chart.draw(data, options);
    }

    function createColumns(columns, data){
        for (var i = 0; i < columns.length; i++) {
            var tipo = columns[i][0];
            var nombre = columns[i][1];

            data.addColumn(tipo, nombre);
        }
    }

    function createRows(rows, data){
        data.addRows(rows);
    }


    window.addEventListener('DOMContentLoaded', function() {
        var searchButton = document.querySelector('#search')


        searchButton.addEventListener('click', function() {
            var inputDateFrom = document.querySelector('#dateFrom');
            var inputDateTo = document.querySelector('#dateTo');
            var filters = {
                "dateFrom": inputDateFrom.value,
                "dateTo": inputDateTo.value
            }
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByCountry", "by_country", filters));
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByAge", "by_age", filters));
            google.charts.setOnLoadCallback(() => createPieChart("/getPlayersByGender", "by_gender", filters));
        }, { passive: true });
    }, { passive: true });

</script>

<div class="container">

    <input type="date" id="dateFrom">
    <input type="date" id="dateTo">

    <button id="search">Buscar</button>

    <div id="by_country"></div>
    <div id="by_age"></div>
    <div id="by_gender"></div>

</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>

<!-- End Page Content -->
</div>
{{> footer}}