{{> header}}
<!-- Quizzium Lobby -->
<div class="container">
<img src="../public/assets/characters.png" class="characters">
    <div class="buttons-area">
        <a class="button button-big">Individual</a>
        <a class="button button-big">Multijugador</a>
        <a class="button button-big" href="/profile/list">Ver Perfil</a>
    </div>
</div>

<!-- End Page Content -->
</div>
{{> footer}}