{{> header}}
<!-- Quizzium Lobby -->
<div class="container">
    <img src="../public/assets/characters.png" class="characters">

    <form action="/login/validate" method="post" enctype="multipart/form-data" class="login-area">

        {{#contrasenia}}
            <div class="alert alert-error">
                <span class="title">Datos incorrectos</span>
                <span class="description">Asegurate que hayas ingresado los datos correctos.</span>
            </div>
        {{/contrasenia}}

        {{#validacionTrue}}
            <div class="alert alert-success">
                <span class="title">Cuenta validada con éxito!</span>
                <span class="description">Ya podés ingresar con tu mail y contraseña.</span>
            </div>
        {{/validacionTrue}}

        {{#validacionFalse}}
            <div class="alert">
                <span class="title">Validá tu cuenta</span>
                <span class="description">Te enviamos un mail a tu correo. Hacé click en el botón que se encuentra dentro del mail para validar tu cuenta.</span>
            </div>
        {{/validacionFalse}}


        <div class="field">
            <label>Ingrese su mail</label>
            <input type="email" name="login[mail]"/>
        </div>

        <div class="field">
            <label>Ingrese su contraseña</label>
            <input type="password" name="login[password]"/>
        </div>

        <button type="submit" class="button button-small">
            Ingresar
        </button>
    </form>

    <div class="container-link">
        <a href="/register/list">
            No tengo cuenta
            <img src="../public/assets/arrow-right.png"/>
        </a>
    </div>

</div>

<!-- End Page Content -->
</div>
{{> footer}}