{{> header}}

<!-- Quizzium Lobby -->
<div class="container">

    <img src="../public/assets/characters.png" class="characters">

    <div class="buttons-area">
        <a class="button button-big" href="https://accounts.google.com/AccountChooser/identifier?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">Ir a Gmail</a>
    </div>

</div>

<!-- End Page Content -->
</div>
{{> footer}}