{{> header}}

<!-- Quizzium Lobby -->
<div class="container profile">

    <div class="container">

        <label class="question">
            <p>{{question}}</p>
        </label>

        <div class="answersContainer">
            <button  class="answer" > opcion 1 - {{question-one}}</button>
            <button  class="answer" > opcion 2 - {{question-two}}</button>
            <button  class="answer" > opcion 3 - {{question-three}}</button>
            <button  class="answer" > opcion 4 - {{question-four}}</button>
        </div>

    </div>



</div>

<!-- End Page Content -->
</div>
{{> footer}}