{{> header}}

<!-- Quizzium play -->

<div class="game">
    <div class="left-sidebar">
        <div class="profile">
            <img src="../public/profile-pictures/{{foto_perfil}}">
            <span>{{usuario}}</span>
        </div>
        <div class="answers">
            <span>{{puntuacion}}</span>
            <span>Respuestas Correctas</span>
        </div>
    </div>

<div class="block-reverse">
    <div class="right-sidebar">
        <div class="timer">
            <span>Cronómetro</span>
            <span>20''</span>
        </div>
    </div>

    <div class="round">
        <div class="question" style="{{categoryColor}}">
            <span>{{question}}</span>
        </div>

        <form method="post" enctype="multipart/form-data" action="/play/game">

            <input type="hidden" name="answer[idQuestion]" value={{id}}>

            <button class="answer" name="option" value="1">{{opcion1}}</button>
            <button class="answer" name="option" value="2">{{opcion2}}</button>
            <button class="answer" name="option" value="3">{{opcion3}}</button>
            <button class="answer" name="option" value="4">{{opcion4}}</button>


        </form>
        <div class="container-link">
            <a href="/play/report">
                <img src="../public/assets/exclamation.png"/>
                Reportar esta pregunta
            </a>
        </div>
    </div>
</div>

</div>

<!-- End Page Content -->
{{> footer}}