{{> header}}
<!-- Quizzium Lobby -->
<div class="container profile">
    <div class="redirect">
        <a href="/lobby/list">Ir al lobby</a>
    </div>

    <div class="container-profile">
        <div class="header">
            <div class="description">
                <img src="../public/profile-pictures/6470e2e46ccbf_avatar-mujer.png"/>
                <h1>Jose pepe</h1>
            </div>
        </div>

        <div class="first-container">
            <div class="map">
                <img src="../public/assets/map.png"/>
            </div>
            <div class="sidebar">
                <div class="statistic-games">
                    <div class="container-statistic">
                        <span class="title">Partidas realizadas</span>
                        <span class="number">128</span>
                    </div>
                    <div class="container-statistic">
                        <span class="title">Puntaje total</span>
                        <span class="number">1890</span>
                    </div>
                    <div class="container-statistic">
                        <span class="title">Posición en ranking</span>
                        <span class="number">119</span>
                    </div>
                </div>
                <div class="qr">
                    <h2>Mi QR</h2>
                    <img src="../public/assets/qr.png"/>
                    <button class="button-secondary button-small">Compartir</button>
                </div>
            </div>
        </div>

        <div class="container-data">
            <div class="header-data">
                <h3>Datos de mi perfil</h3>
            </div>
            <div class="container-info">
                <div class="data">
                    <div class="info">
                        <span class="title">Nombre de usuario:</span>
                        <span class="info-data">Jose Pepe</span>
                    </div>
                    <div class="info">
                        <span class="title">Nombre:</span>
                        <span class="info-data">Jose</span>
                    </div>
                    <div class="info">
                        <span class="title">Apellido:</span>
                        <span class="info-data">Alberto</span>
                    </div>
                    <div class="info">
                        <span class="title">Fecha de nacimiento:</span>
                        <span class="info-data">22/05/1993</span>
                    </div>
                    <div class="info">
                        <span class="title">Sexo:</span>
                        <span class="info-data">Prefiero no decirlo</span>
                    </div>
                    <div class="info">
                        <span class="title">País:</span>
                        <span class="info-data">United Kingdom</span>
                    </div>
                    <div class="info">
                        <span class="title">Ciudad:</span>
                        <span class="info-data">Knightsbridge</span>
                    </div>
                    <div class="info">
                        <span class="title">Mail:</span>
                        <span class="info-data">josepepe@gmail.com</span>
                    </div>
                </div>
                <img src="../public/profile-pictures/6470df6a95b84_avatar-icon-images-4.jpg">
            </div>

            <a href="/profile/edit" class="button-secondary button-small">Editar perfil</a>
        </div>
    </div>
</div>

<!-- End Page Content -->
</div>
{{> footer}}