{{> header}}

<!-- Quizzium Lobby -->
<div class="container profile">
    <div class="redirect">
        <a href="/lobby/list">Ir al lobby</a>
    </div>

    <div class="container-profile">
        {{#public}}
            <div class="header">
                <div class="description">
                    <img src="../public/profile-pictures/{{foto_perfil}}"/>
                    <h1>{{usuario}}</h1>
                </div>
            </div>

            <div class="first-container">
                <div class="map">
                    <img src="../public/assets/map.png"/>
                </div>
                <div class="sidebar">
                    <div class="statistic-games">
                        <div class="container-statistic">
                            <span class="title">Partidas realizadas</span>
                            <span class="number">128</span>
                        </div>
                        <div class="container-statistic">
                            <span class="title">Puntaje total</span>
                            <span class="number">1890</span>
                        </div>
                        <div class="container-statistic">
                            <span class="title">Posición en ranking</span>
                            <span class="number">119</span>
                        </div>
                    </div>
                    <div class="qr">
                        <h2>¡Jugá con {{nombre}}!</h2>
                        <img src="../public/qr.php?id={{id_cuenta}}" />
                        <button class="button-secondary button-small">Compartir</button>
                    </div>
                </div>
            </div>
        {{/public}}

        {{#owner}}

            <div class="header">
                <div class="description">
                    <img src="../public/profile-pictures/{{foto_perfil}}"/>
                    <h1>{{usuario}}</h1>
                </div>
            </div>

            <div class="first-container">

                <div class="map">
                    <img src="../public/assets/map.png"/>
                </div>

                <div class="sidebar">

                    <div class="statistic-games">

                        <div class="container-statistic">
                            <span class="title">Partidas realizadas</span>
                            <span class="number">128</span><!-- TRAER LOS DATOS DE LA BASE DE DATOS -->
                        </div>

                        <div class="container-statistic">
                            <span class="title">Puntaje total</span>
                            <span class="number">1890</span><!-- TRAER LOS DATOS DE LA BASE DE DATOS -->
                        </div>

                        <div class="container-statistic">
                            <span class="title">Posición en ranking</span>
                            <span class="number">119</span> <!-- TRAER LOS DATOS DE LA BASE DE DATOS -->
                        </div>

                    </div>

                    <div class="qr">

                        <h2>Mi QR</h2>
                        <img src="../public/qr.php?id={{id_cuenta}}" />
                        <button class="button-secondary button-small">Compartir</button>

                    </div>
                </div>
            </div>

            <div class="container-data">
                <div class="header-data">
                    <h3>Datos de mi perfil</h3>
                </div>

                <div class="container-info">

                    <div class="data">

                        <div class="info">
                            <span class="title">Nombre de usuario:</span>
                            <input class="info-data" name="usuario" value="{{usuario}}">
                        </div>

                        <div class="info">
                            <span class="title">Nombre:</span>
                            <input class="info-data" name="nombre" value="{{nombre}}">
                        </div>

                        <div class="info">
                            <span class="title">Apellido:</span>
                            <input class="info-data" name="apellido" value="{{apellido}}">
                        </div>

                        <div class="info">
                            <span class="title">Fecha de nacimiento:</span>
                            <input class="info-data" name="fecha_nacimiento" value="{{fecha_nacimiento}}">
                        </div>

                        <div class="info">
                            <span class="title">Género:</span>
                            <input class="info-data" name="tipo" value="{{tipo}}">
                        </div>

                        <div class="info">
                            <span class="title">País:</span>
                            <input class="info-data" name="pais" value="{{pais}}">
                        </div>

                        <div class="info">
                            <span class="title">Ciudad:</span>
                            <input class="info-data" name="ciudad" value="{{ciudad}}">
                        </div>

                        <div class="info">
                            <span class="title">Mail:</span>
                            <input class="info-data" name="mail" value="{{mail}}">
                        </div>

                        <button id="editProfile" class="button-secondary button-small">Editar
                            perfil</button>

                    </div>

                </div>


            </div>
        {{/owner}}

    </div>
</div>

<!-- End Page Content -->
</div>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='../public/scripts/profile.js'></script>
{{> footer}}