{{> header}}
<div class="container-ranking">
    <div class="banner">
        <img src="/public/assets/ranking.png">
    </div>

    <div class="ranking-list">

        <a href="/profile/list?id_cuenta=2" class="container-position">
            <div class="description">
                <div class="position">1</div>
                <div class="detail-responsive">
                    <img src="/public/profile-pictures/6476a1964d65b_avatar.png">
                    <span class="name">Vicky</span>
                </div>
            </div>

            <div class="score">
                <span class="number">
                    1890
                </span>
                <span class="description">Puntos</span>
            </div>
        </a>

        <a href="/profile/list?id_cuenta=1" class="container-position">
            <div class="description">
                <div class="position">2</div>
                <div class="detail-responsive">
                    <img src="/public/profile-pictures/6476a1964d65b_avatar.png">
                    <span class="name">Mati</span>
                </div>
            </div>

            <div class="score">
                <span class="number">
                    1870
                </span>
                <span class="description">Puntos</span>
            </div>
        </a>

    </div>
</div>

<!-- End Page Content -->
{{> footer}}