{{> header}}


<!-- Quizzium Lobby -->
<div class="container pb-2">
    <img src="../public/assets/characters.png" class="characters-small">

    <form action="/register/validate" method="post" enctype="multipart/form-data" class="login-area">

        {{#empty_fields_error}}
            <div class="alert alert-error">
                <span class="title">Hay campos que faltan completar.</span>
                <span class="description">Asegurate de haber completado todos los campos.</span>
            </div>
        {{/empty_fields_error}}

        {{#password_error}}
            <div class="alert alert-error">
                <span class="title">Las contraseñas ingresadas son distintas.</span>
                <span class="description">Asegurate que las contraseñas que ingreses sean idénticas.</span>
            </div>
        {{/password_error}}

        {{#mail_error}}
            <div class="alert alert-error">
                <span class="title">El correo electrónico ya esta en uso.</span>
                <span class="description">Te sugerimos que inicies sesión con tu mail.</span>
            </div>
        {{/mail_error}}

        {{#photo_error}}
            <div class="alert alert-error">
                <span class="title">Error en el formato de la imagen.</span>
                <span class="description">La imagen ingresada debe ser de formato .png o .jpg</span>
            </div>
        {{/photo_error}}

        <div class="field">
            <label>Nombre</label>
            <input name="register[name]" type="text"/>
        </div>

        <div class="field">
            <label>Apellido</label>
            <input name="register[surname]" type="text" />
        </div>

        <div class="field">
            <label>Fecha de nacimiento</label>
            <input name="register[born_date]" type="date" />
        </div>

        <div class="field">
            <label>Foto de Perfil</label>
            <input name="photo" type="file" />
        </div>

        <div class="field">
            <label>Sexo</label>
            <select id="gender" name="register[gender]" >
                <option value="1" >Masculino</option>
                <option value="2">Femenino</option>
                <option value="3" selected >Prefiero no decirlo</option>
            </select>
        </div>

        <div class="field">
            <label>Pais</label>
            <input name="register[country]" type="text" />
        </div>

        <div class="field">
            <label>Ciudad</label>
            <input name="register[city]" type="text" />
        </div>

        <div class="field">
            <label>Nombre de usuario</label>
            <input name="register[username]" type="text" />
        </div>

        <div class="field">
            <label>Mail</label>
            <input name="register[mail]" type="email" />
        </div>

        <div class="field">
            <label>Contraseña</label>
            <input name="register[password]" type="password" />
        </div>

        <div class="field">
            <label>Repetir Contraseña</label>
            <input name="register[verificated_password]" type="password" />
        </div>

        <button type="submit" class="button button-small">
            Registrarme
        </button>
    </form>
    <div class="container-link">
        <a href="/login/list">
            Tengo una cuenta
            <img src="../public/assets/arrow-right.png"/>
        </a>
    </div>

</div>

<!-- End Page Content -->
</div>
{{> footer}}