{{> header}}


<!-- Quizzium Lobby -->
<div class="container pb-2">
    <img src="../public/assets/characters.png" class="characters-small">

    <form class="login-area" method="post" action="">

        {{#empty_fields_error}}
            <div class="alert alert-error">
                <span class="title">Hay campos que faltan completar.</span>
                <span class="description">Asegurate de haber completado todos los campos.</span>
            </div>
        {{/empty_fields_error}}

        {{#password_error}}
            <div class="alert alert-error">
                <span class="title">Las contraseñas ingresadas son distintas.</span>
                <span class="description">Asegurate que las contraseñas que ingreses sean idénticas.</span>
            </div>
        {{/password_error}}

        {{#mail_error}}
            <div class="alert alert-error">
                <span class="title">El correo electrónico ya esta en uso.</span>
                <span class="description">Te sugerimos que inicies sesión con tu mail.</span>
            </div>
        {{/mail_error}}

        {{#photo_error}}
            <div class="alert alert-error">
                <span class="title">Error en el formato de la imagen.</span>
                <span class="description">La imagen ingresada debe ser de formato .png o .jpg</span>
            </div>
        {{/photo_error}}

        <div class="field">
            <label>Nombre</label>
            <input name="register[name]" type="text" placeholder="Ingrese su nombre" required/>
        </div>

        <div class="field">
            <label>Apellido</label>
            <input name="register[surname]" placeholder="Ingrese su apellido" type="text" required/>
        </div>

        <div class="field">
            <label>Fecha de nacimiento</label>
            <input name="register[born_date]" type="date" required/>
        </div>

        <div class="field">
            <label>Foto de Perfil</label>
            <input name="photo" type="file" required/>
        </div>

        <div class="field">
            <label>Sexo</label>
            <select id="gender" name="register[gender]" required>
                <option value="1" selected>Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">Prefiero no decirlo</option>
            </select>
        </div>

        <div id="map" style="width: 600px; height: 400px;"></div>

        <div class="field">
            <label>Nombre de usuario</label>
            <input name="register[username]" type="text" placeholder="Ingrese su usuario" required/>
        </div>

        <div class="field">
            <label>Mail</label>
            <input name="register[mail]" type="email" placeholder="Ingrese su mail"/>
        </div>

        <div class="field">
            <label>Contraseña</label>
            <input name="register[password]" type="password" placeholder="Ingrese su contraseña" required/>
        </div>

        <div class="field">
            <label>Repetir Contraseña</label>
            <input name="register[verificated_password]" type="password" placeholder="Repita su contraseña" required/>
        </div>

        <button onclick="capturarDatos()" class="button button-small register-button" name="send">
            Registrarme
        </button>
    </form>
    <div class="container-link">
        <a href="/login/list">
            Tengo una cuenta
            <img src="../public/assets/arrow-right.png"/>
        </a>
    </div>

</div>

<script>

    var map = L.map('map').setView([-34.67019736429832, -58.56253720848442], 16);
    var marker = null;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    map.on('click', function (e) {
        var latlng = e.latlng;

        if (marker) {
            map.removeLayer(marker);
        }

        marker = L.marker(latlng).addTo(map);
    });

    function eliminarMarcador() {
        if (marker) {
            map.removeLayer(marker);
            marker = null;
        }
    }

    function capturarDatos() {
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var born_date = document.getElementById('born_date').value;
        var photo = document.getElementById('photo').value;
        var gender = document.getElementById('gender').value;
        var username = document.getElementById('username').value;
        var mail = document.getElementById('mail').value;
        var password = document.getElementById('password').value;
        var verificated_password = document.getElementById('verificated_password').value;
        var center = map.getBounds().getCenter();
        var lat = center.lat;
        var lng = center.lng;


        enviarDatos(
            lat, lng,
                name,
                surname,
                born_date,
                photo,
                gender,
                username,
                mail,
                password,
                verificated_password);
    }

    function enviarDatos(lat,
                               lng,
                               name,
                               surname,
                               born_date,
                               photo,
                               gender,
                               username,
                               mail,
                               password,
                               verificated_password) {

        var formData = new FormData();
        formData.append('name', name);
        formData.append('surname', surname);
        formData.append('born_date', born_date);
        formData.append('photo', photo);
        formData.append('gender', gender);
        formData.append('username', username);
        formData.append('mail', mail);
        formData.append('password', password);
        formData.append('verificated_password', verificated_password);
        formData.append('latitud', lat);
        formData.append('longitud', lng);

        console.log(formData);

        // Realizar solicitud AJAX al endpoint en PHP
        /*var xhr = new XMLHttpRequest();
        xhr.open('POST', '/register/validate', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var respuesta = xhr.responseText;
                console.log('Respuesta del endpoint:', respuesta);
            }
        };
        xhr.send(formData);*/
    }


</script>
<!-- End Page Content -->
</div>
{{> footer}}